.bandeau{background: lightblue}

.footeri{background:grey;
			}


#footericon{
	margin:0;
	padding:0;
	display:inline-block;
}

#footercontent{
	margin:0;
	padding:0;
	display:inline-block;
}

.w3-euphorigenic{font-family: "Euhphorigenic",serif;
}